/**********************************************
  *   Generic Mods to Bootstrap
  *********************************************/

.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.container > footer p {
  text-align: center;
}

/* specific additions for the example index page */
.nav-logo img {
  margin-top: 4px;
}

#content h1{
  color: #00446a;
  font-size: 130%;
  margin: 0.67em 0;
  border-bottom: 1px solid #e9efcd;
  padding-bottom: 0.25em;
  padding-right: 4em;
  line-height: 1.4;
}

#content h2{
  font-size: 110%;
  margin: 0.83em 0;
  color: #2d749c;
  font-weight: bold;
  line-height: 1.3;
}

h4 {
  line-height: 28px;
  margin-bottom: 10px;
}

.pam_detail_table th{
    text-align: left;
}

#content {
    width:100% !important;
    margin-top: 0 !important;
}

#content .facet-view-simple .pagination li {
    display: inline;
}
#content .facet-view-simple table {
    border-collapse: separate;
}

#content .facet-view-simple table td{
    border-top: 1px solid #ddd
}

#content .facetview_freetext {
  height: 24px;
}

#content #portal-breadcrumbs{
  padding-bottom: 10px;
}

#content .btn{
  border: 1px solid #ccc !important;
  border-bottom-color: #bbb !important;
}

.pagination a{
  border: 1px solid #ddd !important;
}

#content table {
  display: table !important;
}