extends layout

block title
    title Air Quality statistics analysis &mdash; European Environment Agency

block content
    div(id="portal-breadcrumbs")
        span(id="breadcrumbs-you-are-here") You are here: 
        span(id="breadcrumbs-home")
            a(href="http://www.eea.europa.eu/") Home
            span(class="breadcrumbSeparator")  / 
        span(id="breadcrumbs-1")
            span(class="breadcrumbs-current")  Air Quality statistics analysis

    h1 Air Quality statistics analysis
    p description goes here
    .facet-view-simple
