 #portal-searchbox form {
      margin: 0;
}

 #portal-searchbox form input {

      width: 286px;
 }

 .eea-accordion-panels .eea-accordion-panel > h2 {
    background-color: #fff;
    border-bottom: none;
    border-left-style: none;
    border-right-style: none;
 }

 .facetview_filter_options {
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
 }

 .facet_order {
    float:left;
 }

 .content .page-header {
    background-color: #fff;
    display: inline;
    border-bottom-color: #fff;
 }

.page-header h1 {
    border-bottom-color: #fff;
}

 .facet_order .facetview_sort {
    background-color: #fff;
    background-image: none;
    float: none;
    font-weight: none;
    color: #000 !important;
    float: none;
    text-shadow: none;
    border-color: rgba(0, 0, 0, 0.25);
    padding-top: 2px;
    padding-bottom: 2px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
 }

 .facet_cond .standardButton {
    background-color: #fff;
    background-image: none;
    font-weight: none;
    color: #000 !important;
    float: none;
    text-shadow: none;
    border-color: rgba(0, 0, 0, 0.25);
    padding-top: 2px;
    padding-bottom: 2px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
 }

.facetview_selection {
    width: 100%;
    float:left;
}

.facetview_selected .rel-between {
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    display: none;
}

.facetview_selected .facetview_clear {
    padding: 1px;
    background: none;
    background-color: #999999;
    border-color: #999999;
}

.facet-rel-between .facet_operator, .facet_operator:hover {
    cursor: auto;
    width: 100%;
    background: none;
    background-color: #e6e6e6;
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    display:none;
}

.facetview_filterselected .eea-icon {
    color: #fff;
    text-shadow: none;
}

.facetview_top .order-by {
    margin-left: 0px;
    float: right;
}

.order-by .orderby {
}

.facetview_top .top-pagination {
    margin: 0px;
}

.top-pagination .facetview_metadata .pagination {
    margin: 0px;
}

.facet-share {
    float:right;
}

.clear-all {
    float:right;
}

