extends layout

block content
    h3 Detailed results for
    table
        tr
            th= data.Name_of_PAM.label
            td= data.Name_of_PAM.value
        tr
            th= data.PAMID.label
            td= data.PAMID.value
