extends layout

block content
    h1 Climate change policies and measures in Europe
    p The following search engine gives access to a list of policies andmeasures (PAM) that European countries have implemented or planned toreduce greenhouse gas emissions. All these PAM have been officiallyreported to the European Commission or under the United FrameworkConvention on Climate Change (UNFCCC). In some cases, countries haveprovided an estimate of the expected reduction of greenhouse gas emissionsresulting from a specific PAM.
    p The following search engine gives access to a list of policies and measures (PAM) that European countries have implemented or planned to reduce greenhouse gas emissions. All these PAM have been officially reported to the European Commission or under the United Framework Convention on Climate Change (UNFCCC). In some cases, countries have provided an estimate of the expected reduction of greenhouse gas emissions resulting from a specific PAM.
    .facet-view-simple
