extends layout

block content
    div(id="portal-breadcrumbs")
        span(id="breadcrumbs-you-are-here") You are here: 
        span(id="breadcrumbs-home")
            a(href="http://www.eea.europa.eu/") Home
            span(class="breadcrumbSeparator")  / 
        span(id="breadcrumbs-1")
            span(class="breadcrumbs-current")  EEA database on climate change mitigation policies and measures in Europe

    h1 EEA database on climate change mitigation policies and measures in Europe
    p This database contains a number of policies and measures (PAM) implemented or planned by European countries to reduce greenhouse gas emissions. Most of these PAMs have been reported to the European Commission, the United Framework Convention on Climate Change (UNFCCC) or the EEA. The search engine gives access to detailed information for each of these PAMs including, in some cases, the expected reductions in greenhouse gas emissions resulting from the implementation of these PAMs, as estimated by countries.
    .facet-view-simple
