doctype 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/facetview.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.8.18.custom.css')

    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/jquery-1.7.1.min.js')
    script(type='text/javascript', src='/javascripts/jquery.facetview.js')
    script(type='text/javascript', src='/javascripts/jquery.linkify-1.0-min.js')
    script(type='text/javascript', src='/javascripts/jquery-ui-1.8.18.custom.min.js')
    script(type='text/javascript', src='/javascripts/pam.facetview.js')
  body
    block content
