#facetview_freetext{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
#facetview_filters h3{
    margin:40px 0 20px 0;
}
#facetview_advanced{
    float:left;
    clear:left;
    margin:10px;
    padding:3px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #a1a1a1;
    color:#a1a1a1;
    overflow:hidden;
    width:165px;
}
#facetview_advanced select{
    width:160px;
    background:#fff;
    border:1px solid #a1a1a1;
    color:#a1a1a1;
    font-size:11px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
#facetview_visualisation{
    border:1px solid #ccc;
    margin:10px 0 10px 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.facetview_rangecontainer,
.facetview_geocontainer{
    border:1px solid #ccc; 
    padding:5px; 
    margin-bottom:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.node{
    cursor:pointer;
}
.facetview_filterchoice{
    text-decoration:none;
    color:#373737;
}
.facetview_filterselected{
}
.facetview_facetlogic{
}
.facetview_freetext_filterdiv{
    float:left;
    clear:both;
    background:#eee;
    padding:0;
    color:green;
    width:100%;
}
.facetview_advancedshow{
    text-decoration:none;
    color:#a1a1a1;
}

.facetview_resultactions a{
    color:#353535;
    font-weight:bold;
    text-decoration:none;
    margin:0 5px 0 5px;
}


.facetview_filters.table .facetview_filtervalue .facetview_filterchoice{
    display:block;
    word-wrap:break-word;
    max-width:224px;
}

.item_detail_table.datatable td div{
    float:left;
}

.item_detail_table.datatable td a{
    float:left;
}

.item_detail_table.datatable td span.simple-value{
    float:left;
    padding-left: 6px;
}

#content a.detail_extlink, #content a.detail_extlink:visited, #content a.detail_extlink:hover {
    display:block;
    font-size:10px;
    font-weight:normal;
    color:rgb(52,111,131) !important;
    float:left;
}

#content h2 {
    float:left;
}
#content a.detail_extlink:hover{
    font-weight:bold;
}
.facetview_geocontainer input{
    margin: 0 0 21px 0;
    background: #ecf4ff;
    height: 24px;
}
.facetview_geocontainer span{
    float:left;
    width:200px;
}
