@media only screen and (max-width: 1024px) {

/* Force table to not be like tables anymore */
    #facetview_rightcol table,
    #facetview_rightcol thead,
    #facetview_rightcol tbody,
    #facetview_rightcol th,
    #facetview_rightcol td,
    #facetview_rightcol tr {
        display: block;
    }

/* Hide table headers (but not display: none;, for accessibility) */
    #facetview_rightcol thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #facetview_rightcol tr { border: 1px solid #ccc; }

    #facetview_rightcol td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    #facetview_rightcol td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #facetview_rightcol td:before { content: attr(data-title); }
}
